<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.emsc.modules.boot.testOnline1.mapper.FruitOrderPMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  fruit_order_p 
		WHERE
			 order_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.emsc.modules.boot.testOnline1.entity.FruitOrderP">
		SELECT * 
		FROM  fruit_order_p
		WHERE
			 order_id = #{mainId} 	</select>
</mapper>
